<!DOCTYPE html>
<html lang=en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma/bulma.css">
    <title>Document</title>
</head>
<body>
    <section class="hero has-background-danger 0-is-italic">
        <div class="hero-body">
        <center> <p class="title">Employee Information System</p></center>
        <b><center><p class="subtitle">Roxanne A. Cortez</p></center></b>
        </div>
      </section>

      
        <div class="columns mt-2 is-centered">
        <div class="column is-3">
            <aside class="menu has-background-link-dark">
                <ul class="menu-list">
                    <b><li><a class= "has-background-primary-dark is-size-3">EMPLOYEE LIST</a></li></b>
                    <b><li><a class="has-background-success is-size-3"> PERSONAL INFO</a></li></b>
                    <b><li><a class= "has-background-primary-dark is-size-3">EDUCATIONAL INFO</a></li></b>
                    <b><li><a class="has-background-success is-size-3">WORK EXP</a></li></b>
                    <b><li><a class= "has-background-primary-dark is-size-3">TRAININGS</a></li></b>
                    <b><li><a  class="has-background-success is-size-3">LOG OUT</a></li></b>
                </ul>
            </aside>
        </div>
    
        
      <div class="column is-8">
        <h1 class="title has-text-link is-size-1 has-text-centered">LOGIN</h1>
<form class="box has-background-info">
  <div class="field">
    <label class="label">USERNAME:</label>
    <div class="control">
    <input class="input"  type="email" placeholder=""/>
    </div>
    </div>

    <div class="field">
      <label class="label">PASWORD:</label>
      <div class="control">
        <input class="input" type="password" placeholder="" />
      </div>
     </div>
</body>
</html>"